/* Sidebar Container */
.sidebar {
  width: 220px;
  height: 100vh;
  background: linear-gradient(180deg, #1e293b, #0f172a);
  color: white;
  padding: 20px;
  position: fixed;
  top: 15;
  left: 0;
  transition: transform 0.3s ease;
  z-index: 1000;
}

/* Title */
.sidebar h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 22px;
  color: #38bdf8;
}

/* Menu */
.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: 15px 0;
}

.sidebar ul li a {
  text-decoration: none;
  color: #cbd5f5;
  font-size: 16px;
  display: block;
  padding: 10px 15px;
  border-radius: 8px;
  transition: 0.3s ease;
}

.sidebar ul li a:hover {
  background: #38bdf8;
  color: #0f172a;
}

/* Active */
.sidebar ul li a.active {
  background: #0ea5e9;
  color: white;
}
.menu-btn1 {
  position: fixed;
  top: 0;
  left: 0;
  font-size: 22px;
  background: #0ea5e9;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  z-index: 1100;
  display: none;
}

/* Show only on mobile */
@media (max-width: 768px) {
  .menu-btn1 {
    display: block;
  }
}

/* ===== MOBILE RESPONSIVE ===== */
@media (max-width: 768px) {
  .sidebar {
    transform: translateX(-100%);
  }

  .sidebar.active {
    transform: translateX(0);
  }
}

